<div class="body">
    <div class="devices">
        <a>
            <img src="https://imagens.canaltech.com.br/produto/1549932980-6209-principal-m.png">
            <p>Moto G8 Power</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1580481496-7490-principal-m.png">
            <p>Moto G Stylus</p>
        </a>

        <a>
            <img src="https://www.motorola.com/sites/default/files/library/us/products/moto-g-power-gen-8/all_phones/Moto-G-Power-1000slngijw0.png">
            <p>Moto G Power</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1575581337-7375-principal-m.png">
            <p>One Hyper</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1552612428-6573-principal-m.png">
            <p>Razr 2019</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1571406409-7319-principal-m.png">
            <p>Moto G8 Plus</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1571406373-7321-principal-m.png">
            <p>Moto G8 Play</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1570194884-7289-principal-m.png">
            <p>One Macro</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1572530355-7343-principal-m.png">
            <p>Moto E6 PLay</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1568140373-7203-principal-m.png">
            <p>Moto E6</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1557361751-6743-principal-m.png">
            <p>Moto Z4</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1549933021-6207-principal-m.png">
            <p>Moto G7 Plus</p>
        </a>

        <a>
            <img src="https://brmotorola.vteximg.com.br/arquivos/ids/160777-700-700/01-moto-g7-power-32gb-azul-navy.png?v=636854936980570000">
            <p>Moto G7 Power</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1549932970-6205-principal-m.png">
            <p>Moto G7 Play</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1549931165-5002-principal-m.png">
            <p>Moto G7</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1540320831-4464-principal-m.png">
            <p>Moto P30</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1540320832-4466-principal-m.png">
            <p>Moto Z3</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1540320848-4502-principal-m.png">
            <p>Moto E5 Play</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1540320832-4466-principal-m.png">
            <p>Moto Z3 Play</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1540320660-4024-principal-m.png">
            <p>Moto E5 Plus</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1540320659-4022-principal-m.png">
            <p>Moto E5</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1540320640-3982-principal-m.png">
            <p>Moto G6 Play</p>
        </a>

        <a>
            <img src="https://imagens.trocafone.com/images/phones/5cb4dc5b-moto-g6-plus-azul-frete.png">
            <p>Moto G6 Plus</p>
        </a>
    </div>
</div>