<div class="body">
    <div class="devices">
        <a (click)='Compra()'>
            <i class="fas fa-heart"></i>
            <p id="valor"><i class="fas fa-shopping-cart"></i>R$: {{zenfoneMaxShot}}</p>
            <img src="https://imagens.canaltech.com.br/produto/1552612477-6581-principal-m.png">
            <p>Zenfone Max Shot</p>
        </a>

        <a href="">
            <i class="fas fa-heart"></i>
            <p id="valor"><i class="fas fa-shopping-cart"></i>R$: {{zenfone5}}</p>
            <img src="https://imagens.canaltech.com.br/produto/1540320634-3968-principal-m.png">
            <p>Zenfone 5 2019</p>
        </a>

        <a href="">
            <i class="fas fa-heart"></i>
            <p id="valor"><i class="fas fa-shopping-cart"></i>R$: {{zenfone6}}</p>
            <img src="https://imagens.canaltech.com.br/produto/1558125026-6817-principal-m.png">
            <p>Zenfone 6</p>
        </a>

        <a href="">
            <i class="fas fa-heart"></i>
            <p id="valor"><i class="fas fa-shopping-cart"></i>R$: {{zenfoneMax}}</p>
            <img src="https://imagens.canaltech.com.br/produto/1552612501-6583-principal-m.png">
            <p>Zenfone Max</p>
        </a>

        <a href="">
            <i class="fas fa-heart"></i>
            <p id="valor"><i class="fas fa-shopping-cart"></i>R$: {{zenfoneMaxPro}}</p>
            <img src="https://imagens.canaltech.com.br/produto/1540320834-4470-principal-m.png">
            <p>Zenfone Max Pro</p>
        </a>

        <a href="">
            <i class="fas fa-heart"></i>
            <p id="valor"><i class="fas fa-shopping-cart"></i>R$: {{zenfoneGo}}</p>
            <img src="https://imagens.canaltech.com.br/produto/1540320047-1586-principal-m.png">
            <p>Zenfone Go</p>
        </a>

        <a href="">
            <i class="fas fa-heart"></i>
            <p id="valor"><i class="fas fa-shopping-cart"></i>R$: {{zenfone5z}}</p>
            <img src="https://imagens.canaltech.com.br/produto/1540320740-4218-principal-m.png">
            <p>Zenfone 5z</p>
        </a>

        <a href="">
            <i class="fas fa-heart"></i>
            <p id="valor"><i class="fas fa-shopping-cart"></i>R$: {{zenfoneV}}</p>
            <img src="https://shopfacil.vteximg.com.br/arquivos/ids/10547956/image-056c3a9a38d4fa0d41454b4ba75324b9.jpg?v=636464790735270000">
            <p>Zenfone V</p>
        </a>

        <a href="">
            <i class="fas fa-heart"></i>
            <p id="valor"><i class="fas fa-shopping-cart"></i>R$: {{zenfone4Pro}}</p>
            <img src="https://imagens.canaltech.com.br/produto/1540320670-4048-principal-m.png">
            <p>Zenfone 4 Pro</p>
        </a>

        <a href="">
            <i class="fas fa-heart"></i>
            <p id="valor"><i class="fas fa-shopping-cart"></i>R$: {{zenfone3s}}</p>
            <img src="https://imagens.canaltech.com.br/produto/1540320056-1598-principal-m.png">
            <p>Zenfone 3s</p>
        </a>

        <a href="">
            <i class="fas fa-heart"></i>
            <p id="valor"><i class="fas fa-shopping-cart"></i>R$: {{zenfoneLive}}</p>
            <img src="https://imagens.canaltech.com.br/produto/1540320671-4050-principal-m.png">
            <p>Zenfone Live</p>
        </a>
    </div>
</div>