*{
    margin: 0;
    padding: 0;
}
.title{
    position: absolute;
    color: rgb(133, 133, 133);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif   ;
    left: 55vw;
    bottom: 70%;
    text-align: center;
}
.header{
    position: fixed;
    background-color: rgb(32, 32, 32);
    width: 100%;
    z-index: 1;
    height: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    user-select: none;
}
.logo-portal{
    position: absolute;
    float: left;
    top: 25%;
    left: 2%;
    transform: scale(1.8);
    color: rgb(71, 71, 71);
}
.logo-roms{
    position: absolute;
    float: left;
    top: 25%;
    left: 9%;
    transform: scale(1.8);
    color: rgb(255, 0, 0);
}
.search{
    position: absolute;
    text-transform: uppercase;
    top: 25%;
    left: 20%;
    width: 50%;
    height: 2.5vw;
    background-color: rgb(51, 51, 51);
    color: white;
    border-radius: 1vw;
    border: 0;
    outline: none;
}
.search:hover{
    background-color: rgb(70, 70, 70);
}
.menu-header{
    position: relative;
    color: white;
    left: 0%;
    top: 35%;
}
.menu-header p{
    position: relative;
    text-align: center;
    float: left;
    left: 67%;
    width: 6vw;
    height: 30px;
    cursor: pointer;
    margin-left: 4vw;
    height: 10%;
    border-radius: 50vw;
}
.menu-header p:hover{
    background-color: rgb(41, 41, 41);
}

.menu{
    position: relative; 
    top: auto;
    z-index: 4;
    left: -7px;
    height: 190%;
    width: 20%;   
    background-color: rgb(19, 19, 19);
    user-select: none;
}
.menu p{
    position: relative;
    top: 10vw;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
    color: white;
    cursor: pointer;
    height: 40px;
    outline: none;
}
.menu p:hover{
    transition: 0.9s;
    background-color: rgb(10, 10, 10);
}

.app{
    position: absolute;
    bottom: 20vw;
    left: 22%;
    width: 75vw;
    transition: 1.7s;

}
a{
    position: relative;
    color: white;
    text-decoration: none;
    height: 40px;
}
.menu-buy{
    position: fixed;
    z-index: 1;
    top: 12%;
    height: 3vw;
    user-select: none;
    left: 42vw;
    color: rgb(192, 192, 192);
    cursor: pointer;
    transition: 3s;
}
.menu-buy i:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.5s;
    color: rgba(245, 88, 122, 0.603);
}
.menu-buy i{
    float: left;
    top: 8%;
    margin-right: 9vw;
    transform: scale(1.2);
    position: relative;
}
.menu-buy p{
    position: absolute;
    left: 150%;
    bottom: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(90, 90, 90);
}

.menu-buy #saldo{
    position: absolute;
    right: 125%;
    z-index: 0;
    float: center;
    color: green;
}

.menu-buy #saldo p:hover{
    color: green;
}


#check{
    display: none;
}
@media screen and (max-width: 1360px){
    *{
        margin: 0;
        padding: 0;
    }
    .body{
        padding: -10px;
        background: linear-gradient(-45deg, #35031d, #7a0000, #310910, #550423);
        background-size: 400% 400%;
        animation: gradient 10s ease infinite;
        }
        
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    .title{
        position: absolute;
        color: rgb(133, 133, 133);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif   ;
        bottom: 90%;
        left: 50%;
    }

    .menu{
        position: relative; 
        height: 210%; 
        display: none;
        background-color: rgb(19, 19, 19);
        user-select: none;
    }
    .menu p{
        position: relative;
        top: 20%;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 30px;
        color: white;
        cursor: pointer;
        height: 40px;
        outline: none;
    }
    .menu p:hover{
        background-color: rgb(10, 10, 10);
    }
    
    .app{
        position: absolute;
        bottom: 85%;
        left: 16%;
    }
    a{
        position: relative;
        color: white;
        text-decoration: none;
        height: 40px;
    }

    .menu-buy{
        position: fixed;
        z-index: 1;
        top: 12%;
        height: 3vw;
        left: 40vw;
        color: rgb(192, 192, 192);
        cursor: pointer;
        transition: 3s;
    }
    .menu-buy i:hover{
        transform: scale(0.6);
        cursor: pointer;
        transition: 0.5s;
        color: rgba(245, 88, 122, 0.603);
    }
    .menu-buy i{
        float: left;
        transform: scale(0.5);
        right: 30%;
        top: -10vw;
        margin-left: 10px;
        position: relative;
    }
    .menu-buy p{
        position: absolute;
        left: 150%;
        bottom: 10%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(90, 90, 90);
    }
    
    #check{
        display: none;
    }
    
    label #btn, label #close{
        position: fixed;
        cursor: pointer;
        display: inline-block;
        cursor: pointer;
        padding: 5px;
        margin-top: 10%;
    }
        
    label #btn{
        cursor: pointer;
        left: 2.5%;
        top: 3.5%;
        z-index: 9;
        color: white;
        border-radius: 20px;
    }
    
    label #close{
        cursor: pointer;
        display: none;
        left: 2.5%;
        top: 3.5%;
        color: red;
        border-radius: 20px;
    }  
    #check:checked ~ .menu{
        position: relative; 
        display: block;
        z-index: 2;
        width: 100%;
        top: auto;
        background-color: rgb(2, 2, 2);
        user-select: none;
     }
     #check:checked ~ label #btn:hover{
        transition: 0.8s;
        transform: rotate(180deg);
    }  
    #check:disabled label #btn:hover{
        transition: 0.8s;
        transform: rotate(180deg);  
    }

    label #btn:hover{
        transition: 0.8s;  
    }
}

@media screen and (max-device-width: 960px){
    *{
        margin: 0;
        padding: 0;
    }
    .body{
        background: linear-gradient(-45deg, #660236, #9b0000, #751727, #b40347);
        background-size: 400% 400%;
        height: 300%;
        animation: gradient 3s ease infinite;
        }
        
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    .title{
        position: absolute;
        color: rgb(133, 133, 133);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif   ;
        bottom: 90%;
        left: 35%;
    }

    .menu{
        position: relative; 
        height: 100%; 
        display: none;
        background-color: rgb(19, 19, 19);
        user-select: none;
    }
    .menu p{
        position: relative;
        top: 20%;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 30px;
        color: white;
        cursor: pointer;
        height: 40px;
        outline: none;
    }
    .menu p:hover{
        background-color: rgb(10, 10, 10);
    }
    
    .app{
        position: absolute;
        bottom: 85%;
        left: 16%;
    }
    a{
        position: relative;
        color: white;
        text-decoration: none;
        height: 40px;
    }

    .menu-buy{
        position: fixed;
        z-index: 1;
        top: 12%;
        height: 3vw;
        left: 40vw;
        color: rgb(192, 192, 192);
        cursor: pointer;
        transition: 3s;
    }
    .menu-buy i:hover{
        transform: scale(0.6);
        cursor: pointer;
        transition: 0.5s;
        color: rgba(245, 88, 122, 0.603);
    }
    .menu-buy i{
        float: left;
        transform: scale(0.5);
        right: 30%;
        top: -10vw;
        margin-left: 10px;
        position: relative;
    }
    .menu-buy p{
        position: absolute;
        left: 150%;
        bottom: 10%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(90, 90, 90);
    }
    
    #check{
        display: none;
    }
    
    label #btn, label #close{
        position: fixed;
        cursor: pointer;
        display: inline-block;
        cursor: pointer;
        padding: 5px;
    }
        
    label #btn{
        cursor: pointer;
        left: 2.5%;
        top: 2.5%;
        z-index: 9;
        color: white;
        border-radius: 20px;
    }
    
    label #close{
        cursor: pointer;
        display: none;
        left: 2.5%;
        top: 2.5%;
        color: red;
        border-radius: 20px;
    }  
    #check:checked ~ .menu{
        position: relative; 
        display: block;
        z-index: 2;
        width: 100%;
        top: auto;
        background-color: rgb(2, 2, 2);
        user-select: none;
     }
     #check:checked ~ label #btn:hover{
        transition: 0.8s;
        color: red;
        transform: rotate(180deg);
    }  
    #check:disabled label #btn:hover{
        transition: 0.8s;
        transform: rotate(180deg);  
    }

    label #btn:hover{
        transition: 0.8s;  
    }
}