<div class="body">
  <app-menu></app-menu>
      <div class="menu">
        <p (click)='Asus()'><a routerLink="/asus">Asus</a></p>
        <p (click)='Xiaomi()'>Xiaomi </p>
        <p (click)='Samsung()'>Samsung </p>
        <p (click)='Lg()'>LG </p>
        <p (click)='Oppo()'>Oppo </p>
        <p (click)='Vivo()'>Vivo </p>
        <p (click)='Hawaei()'>Hawaei </p>
        <p (click)='Quantum()'>Quantum</p>
        <p (click)='RazerPhone()'>Razer Phone</p>
        <p (click)='Sony()'>Sony</p>
        <p (click)='Realme()'>Realme</p>
        <p (click)='ZUK()'>ZUK</p>
        <p (click)='LeEco()'>LeEco</p>
        <p (click)='Oneplus()'>Oneplus</p>
        <p (click)='Google()'>Google</p>
        <p (click)='Motorola()'>Motorola</p>
        <p (click)='NavCity()'>NavCity</p>
        <p (click)='Lenovo()'>Lenovo</p>
      </div>

    <h1 class="title">{{title}}</h1>

    <div class="app">
      <router-outlet></router-outlet>
    </div>
    
</div>