<div class="body">
    <div class="devices">
        <a>
            <img src="https://imagens.canaltech.com.br/produto/1540320672-4054-principal-m.png">
            <p>K10 Power</p>
        </a>

        <a>
            <img src="https://imagens.trocafone.com/images/phones/k10-pro-titanio-frete.png">
            <p>K10 Pro</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1540320912-4662-principal-m.png">
            <p>K11 Plus</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1557187402-6767-principal-m.png">
            <p>K12 Plus</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1540320834-4470-principal-m.png">
            <p>Q6</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1562793698-6977-principal-m.png">
            <p>K12 Max</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1540320676-4062-principal-m.png">
            <p>Q7 Plus</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1562793714-6975-principal-m.png">
            <p>K12 Prime</p>
        </a>

        <a>
            <img src="https://imagens.trocafone.com/images/phones/lg-g7-thinq-preto-frente.png">
            <p>G7 ThinQ</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1563908329-6963-principal-m.png">
            <p>G8s ThinQ</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1540319947-1196-principal-m.png">
            <p>K10</p>
        </a>
    </div>
</div>