<div class="body">
    <div class="devices">
        <a>
            <img src="https://imagens.canaltech.com.br/produto/1540321029-4964-principal-m.png">
            <p>S3</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1540321024-4954-principal-m.png">
            <p>LETV</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1540321026-4958-principal-m.png">
            <p>Le 2 X528</p>
        </a>

        <a>
            <img src="https://koulahjfk.files.wordpress.com/2019/03/leeco-letv-max.png">
            <p>Le Max</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1540321027-4960-principal-m.png">
            <p>Le Max 2</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1540321030-4968-principal-m.png">
            <p>Le Pro 3</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1540321029-4966-principal-m.png">
            <p>Le Pro 3 Elite</p>
        </a>

        <a>
            <img src="https://sintetiki.net/images/product/834/15/cool1.png">
            <p>Cool 1</p>
        </a>

        <a>
            <img src="https://imagens.canaltech.com.br/produto/1540321025-4956-principal-m.png">
            <p>Le 2s</p>
        </a>
    </div>
</div>